name: Backend CI

on:
  push:
    branches:
      - master
      - 'feature/**'
  pull_request:
    branches:
      - master


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Permissão para o Maven Wrapper
        run: chmod +x ./mvnw

      - name: Instalar dependências e rodar testes
        run: ./mvnw clean verify

      - name: Gerar relatório de cobertura com JaCoCo
        run: ./mvnw jacoco:report

      - name: Salvar artefatos (opcional)
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: relatorio-cobertura
          path: target/site/jacoco

  build_legacy:
    name: Backend CI/build
    runs-on: ubuntu-latest
    steps:
      - name: Passar check fantasma
        run: echo "Check concluído com sucesso"

  integration-tests:
    name: Smoke API Tests
    runs-on: ubuntu-latest
    needs: build

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: mypetdb
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout backend
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Start Spring Boot
        run: |
          chmod +x ./mvnw
          nohup ./mvnw spring-boot:run \
          -Dspring.datasource.url=jdbc:postgresql://localhost:5432/mypetdb \
          -Dspring.datasource.username=postgres \
          -Dspring.datasource.password=postgres \
          > app.log 2>&1 &


      - name: Wait for API
        run: |
          for i in {1..40}; do
            curl -s http://localhost:8081/actuator/health && break
            echo "Aguardando API..."
            sleep 5
          done

      - name: Checkout automation
        uses: actions/checkout@v4
        with:
          repository: SEU_USUARIO/qa-automation
          path: qa-tests
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: qa-tests
        run: npm install

      - name: Install Playwright
        working-directory: qa-tests
        run: npx playwright install --with-deps

      - name: Run Smoke Tests
        working-directory: qa-tests
        env:
          BASE_URL: http://localhost:8081
        run: npm run test:smoke






