name: CI - Unit Tests

on:
  push:
    branches:
      - 'feature/**'

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Permissão Maven
        run: chmod +x ./mvnw

      - name: Rodar unitários
        run: ./mvnw -B clean test
